* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: #2f373d;
}

a:hover {
  text-decoration-line: underline;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  color: #70767a;
  padding-right: 1rem;
}
.nav-bar i {
  color: #70767a;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
}
.nav-bar i:hover {
  background-color: #e8ebec;
}
.nav-bar > *{
  margin: 0.3rem;
}

.nav-bar img{
 border-radius: 50%;
 width: 2rem;
 height: 2rem; 
 cursor: pointer;
}

.main-section {
height: 90vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 5rem;
}

#input-wrapper {
  display: flex;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.search-box {
  width: 30rem;
  color: #222;
  border: 1px solid #dfe1e5;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 2rem;
  outline: none;
  box-shadow:0 1px 6px 0 rgba(32, 33, 36, 0.28) ;
  border-color:0 1px 6px 0 rgba(223,225,229, 0) ;
  padding: 0.8rem; 
  padding-left: 3rem;
}

.microphone,
.fa-search {
  position: absolute;
  cursor: pointer;
}
.microphone {
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
}
.fa-search {
  top: 0.8rem;
  left: 1rem;
  color: #70767a;
}


.btn {
  background-color: #f2f2f2;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
  padding: 0 16px;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0, 0,0, 0);
  color: #222;
  cursor: pointer;
  outline: none;
  margin-left: 1rem;
}
.btn:hover {
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px px rgba(0, 0, 0, 0.1);
  color: #2f373d;
}
